---
layout: default
title: Papers
---
<div class="container">
    <div class="row section topspace">
        <p></p>
        <h1 style="text-align: center; margin-top: -30px">Papers</h1>
        <h5 style="text-align: center; margin-bottom: 30px">Insert description here</h5>
        <div class="col-md-12">
          {% for paper in site.data.papers %}
            <p><b><a href="{{ paper.url }}"> {{ paper.title }} ({{ paper.year }})</a></b>:
                {{ paper.description }}
                {% if paper.journal != "" %}
                  {% if paper.location != "" %}
                    Published in <a href="{{ paper.location }}">{{ paper.journal }}</a>.
                  {% else %}
                    Accepted for publication in {{ paper.journal }}.
                  {% endif %}
                {% endif %}
                {% if paper.video != "" %}
                  <a href="{{ paper.video }}">Video presentation</a>
                {% endif %}
            </p>
          {% endfor %}
            <p/>
        </div>
    </div>
</div>
