---
layout: default
title: People
---
{% assign groups = "Founder,Collaborator" | split: ',' %}
{% for group in groups %}
    <div class="row section featured topspace">
        <h2 class="section-title"><span>{{ group }}s</span></h2>
    </div>

    <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
  {% for person in site.data.people %}
    {% if person.group == group %}
      <div class="col">
        <div class="card">
          <img src="{{ person.img }}" class="card-img-top" alt="...">
          <div class="card-body">
          {% if person.url != "" %}
            <h4 class="card-title"><a href="{{ person.url }}">{{ person.name }}</a></h4>
          {% else %}
            <h4 class="card-title">{{ person.name }}</h4>
          {% endif %}
            <div class="card-text">
            {% if person.position != "" %}
              <h5>{{ person.position }}</h5>
            {% endif %}
              <p>{{ person.job }}<br/>{{ person.department }}<br/>{{ person.university }}</p>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
</br>
</div>
{% endfor %}
