---
layout: default
title: Research
---
<div class="container">
    <div class="row section topspace">
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header"><i class="fas fa-tv"></i>&nbsp; Presentations</h5>
                <div class="card-body">
                  <span id="presentation-display">

                  </span>
                  <!--
                    {% for presentation in site.data.presentations %}
                      <p><b><a href="/presentations/{{ presentation.filename }}.pdf">{{ presentation.date }} - {{ presentation.title }}</a></b>.
                          Presentation given by {{ presentation.presenter }} at the {{ presentation.venue }}.
                          (<a href="/presentations/{{ presentation.filename }}.pdf">pdf</a> - <a href="/presentations/{{ presentation.filename }}.pptx">pptx</a>)
                          {% if presentation.video != "" %}
                            <a href="{{ presentation.video }}">Video presentation</a>
                          {% endif %}</p>
                    {% endfor %}-->
                    <div><a onclick="loadMorePresentations()" style="color: #bd1550; text-decoration: underline">Load more</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
              <h5 class="card-header"><i class="fas fa-map"></i>&nbsp; Overview slides and papers</h5>
                <div class="card-body">
                    <p><a href="resources/overviews/ProjectOverview.pptx">Project-wide overview slides</a>
                    </p>
                    <p>Papers presenting main results by areas:
                    <a href="https://arxiv.org/abs/2103.06053">Experimental verifiability/topology</a> -
                    <a href="https://arxiv.org/abs/2101.02107">Classical mechanics</a> -
                    <a href="resources/overviews/QuantumMechanicsOverview.pdf">Quantum mechanics</a>
                    </p>
                </div>
              </div>
            </br>
              <div class="card">
                <h5 class="card-header"><i class="fas fa-pencil-ruler"></i>&nbsp; Blueprint papers</h5>
                <div class="card-body">
                    <p>Papers that present preliminary ideas:
                        <a href="resources/blueprints/InformationGranularity.pdf">Information granularity as a common foundation
for geometry, measures and probability</a> -
                        <a href="resources/blueprints/ProcessEntropy.pdf">Counting evolutions as a foundation for entropy and
system/state definition</a>
                    </p>
                </div>
            </div>
            </br>
            <div class="card">
                <h5 class="card-header"><i class="fas fa-copy"></i>&nbsp; Papers</h5>
                <div class="card-body">
                  <span id="paper-display">

                  </span>
                  <!--
                    {% for paper in site.data.papers %}
                      <p><b><a href="{{ paper.url }}"> {{ paper.title }} ({{ paper.year }})</a></b>:
                          {{ paper.description }}
                          {% if paper.journal != "" %}
                            {% if paper.location != "" %}
                              Published in <a href="{{ paper.location }}">{{ paper.journal }}</a>.
                            {% else %}
                              Accepted for publication in {{ paper.journal }}.
                            {% endif %}
                          {% endif %}
                          {% if paper.video != "" %}
                            <a href="{{ paper.video }}">Video presentation</a>
                          {% endif %}
                      </p>
                    {% endfor %} -->
                    <div><a onclick="loadMorePapers()" style="color: #bd1550; text-decoration: underline">Load more</a></div>

<script>
var paperCounter = 0;
var presentationCounter = 0;
loadMorePapers();
loadMorePresentations();
function loadMorePapers(){
  var paperDisplay = document.getElementById("paper-display");
  fetch('/data/papers.json')
    .then(response => response.text())
    .then((data) => {
      var papers = JSON.parse(data);
      var htmlPaperDisplay = "";
      var loops = 0;
      for(i = 0; i < paperCounter+4 && i < papers.length; i++){
        htmlPaperDisplay += "<p><b><a href=" + papers[i].url + "> " + papers[i].title + " (" + papers[i].year + ")</a></b>: "
            + papers[i].description;
        if(papers[i].journal !== ""){
          if(papers[i].location !== ""){
            htmlPaperDisplay += " Published in <a href=" + papers[i].location + ">" + papers[i].journal + "</a>.";
          }
          else{
            htmlPaperDisplay += " Accepted for publication in " + papers[i].journal;
          }
        }
        if(papers[i].video !== ""){
          htmlPaperDisplay += " <a href=" + papers[i].video + ">Video presentation</a>";
        }
        htmlPaperDisplay += "</p>";
        loops++;
      }
    paperCounter = loops;
    paperDisplay.innerHTML = htmlPaperDisplay;
  });
}

function loadMorePresentations(){
  var presDisplay = document.getElementById("presentation-display");
  fetch('/data/presentations.json')
    .then(response => response.text())
    .then((data) => {
      var presentations = JSON.parse(data);
      var htmlPresDisplay = "";
      var loops = 0;
      for(i = 0; i < presentationCounter+4 && i < presentations.length; i++){
        htmlPresDisplay += "<p><b><a href=/presentations/" + presentations[i].filename + ".pdf>" + presentations[i].date + " - " + presentations[i].title + "</a></b>.";
        htmlPresDisplay += " Presentation given by " + presentations[i].presenter + " at the " + presentations[i].venue + ".";
        htmlPresDisplay += " (<a href=/presentations/" + presentations[i].filename + ".pdf>pdf</a> - <a href=/presentations/" + presentations[i].filename + ".pptx>pptx</a>)"
            if (presentations[i].video !== ""){
              htmlPresDisplay += " <a href=" + presentations[i].video + ">Video presentation</a>"
            }
        htmlPresDisplay += "</p>";
        loops++;
      }
    presentationCounter = loops;
    presDisplay.innerHTML = htmlPresDisplay;
  });
}
</script>
              </div>

            </div>
        </div>
    </div>
</div>
