<footer id="footer" class="top-space">

    <div class="footer1">
        <div class="container">
            <div class="row">

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Contact</h3>
                    <div class="widget-body">
                        <p>
                            <a href="mailto:info@assumptionsofphysics.org">info@assumptionsofphysics.org</a><br>
                        </p>
                    </div>
                </div>

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Follow us</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href="https://www.facebook.com/Assumptions-of-Physics-107629167617556"><i class="fab fa-facebook fa-2"></i></a>
                            <a href="https://www.youtube.com/user/gcarcassi"><i class="fab fa-youtube fa-2"></i></a>
                            <a href="https://github.com/assumptionsofphysics"><i class="fab fa-github fa-2"></i></a>
                            </br>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <h3 class="widget-title">Acknowledgments</h3>
                    <div class="widget-body">
                        <p>
                            Icons:  <a href="https://icons8.com" >Icons8</a>  <br> 
                            Design: <a href="http://www.gettemplate.com" >Initio by GetTemplate</a> </p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>
</footer>
