<footer id="footer" class="top-space">

  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted" style="font-family: Alice">Assumptions of Physics</p>

      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <img src="/assets/images/LogoSmall.png" alt="" height="35">
      </a>


      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="mailto:info@assumptionsofphysics.org" class="nav-link text-muted">info@assumptionsofphysics.org</a></li>
        <li class="nav-item"><a href="https://www.facebook.com/Assumptions-of-Physics-107629167617556" class="nav-link text-muted"><i class="fab fa-facebook fa-2"></i></a></li>
        <li class="nav-item"><a href="https://www.youtube.com/user/gcarcassi" class="nav-link text-muted"><i class="fab fa-youtube fa-2"></i></a></li>
        <li class="nav-item"><a href="https://assumptionsofphysics.substack.com" class="nav-link text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-substack" viewBox="0 0 16 16"><path d="M15 3.604H1v1.891h14v-1.89ZM1 7.208V16l7-3.926L15 16V7.208zM15 0H1v1.89h14z"/></svg></a></li>
        <li class="nav-item"><a href="https://github.com/assumptionsofphysics" class="nav-link text-muted"><i class="fab fa-github fa-2"></i></li>
      </ul>
    </footer>
  </div>
