<nav class="navbar navbar-expand-md mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/images/navbar-logo.png" alt="" height="35"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
<!--         <li class="nav-item"><a class="nav-link" href="/overview.html"><i class="fas fa-binoculars"></i>&nbsp; Overview</a></li>
        <li class="nav-item"><a class="nav-link" href="/learn.html"><i class="fas fa-search"></i>&nbsp; Learn more</a></li>
        <li class="nav-item"><a class="nav-link" href="/people.html"><i class="fas fa-user"></i>&nbsp; People</a></li>
        <li class="nav-item"><a class="nav-link" href="/papers.html"><i class="fas fa-copy"></i>&nbsp; Papers/Presentations</a></li>
        <li class="nav-item"><a class="nav-link" href="/book"><i class="fas fa-book"></i>&nbsp; Book</a></li>
        <li class="nav-item"><a class="nav-link" href="/contribute.html"><i class="fas fa-hands-helping"></i>&nbsp; Help/Contribute</a></li>-->
        <li class="nav-item dropdown">
          <a class="nav-link" style="display: inline-block" href="/overview.html">Overview</a>
          <a class="nav-link dropdown-toggle" style="padding-left: 0; display: inline" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/people.html">People</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" style="display: inline-block" href="/learn.html">Learn more</a>
          <a class="nav-link dropdown-toggle" style="padding-left: 0; display: inline" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/videos">Videos</a></li>
<!--        <li><a class="dropdown-item" href="/blog">Blog posts</a></li> -->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" style="display: inline-block" href="/research.html">Research</a>
          <a class="nav-link dropdown-toggle" style="padding-left: 0; display: inline" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/papers.html">Papers</a></li>
            <li><a class="dropdown-item" href="/presentations.html">Presentations</a></li>
            <li><a class="dropdown-item" href="/problems/index.html">Problems</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="/book">Book</a></li>
<!--      <li class="nav-item dropdown">
          <a class="nav-link" style="display: inline-block" href="#">For fun</a>
          <a class="nav-link dropdown-toggle" style="padding-left: 0; display: inline" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/dialogs">Dialogs</a></li>
            <li><a class="dropdown-item" href="#">Whimsical thought experiment</a></li>
            <li><a class="dropdown-item" href="/wordtarget/index.html">Word targets</a></li>
          </ul>
        </li> -->
        <li class="nav-item"><a class="nav-link" href="/contribute.html">Help/Contribute</a></li>

      </ul>
    </div>
  </div>
</nav>
