---
layout: web
---
      <div class="container">
        <div class="col-md-12">
          <h1>{{page.title}}</h1>
          <p><i>TL;DR: {{page.summary}}</i></p>
          <p>Category: {{page.category}}</p>
          <p>Tags: {{page.tags | join: ", "}}</p>
          <p>Full text (pdf):
            {% for lang in page.languages %}
              {% assign path = page.path | split: '/post.md' %}
              {% assign tokens = path[0] | split: '-' %}
              {% assign name = tokens[1] %}
              <a href="https://latexonline.cc/compile?git=https%3A%2F%2Fgithub.com%2Fassumptionsofphysics%2Fassumptionsofphysics.github.io&target={{path}}/{{name}}.{{lang}}.tex&command=pdflatex">{{lang}}</a>
            {% endfor %}</p>
          <p><a href="{{page.discussion}}">Discussion page</a></p>
          {% if page.video %}
          <div style="width:100%;height:0;padding-bottom:51%;position:relative">
              <iframe style="width:100%;height:100%;position:absolute;left:0;top:0" width="560" height="315" src="{{page.video}}" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>
          {% endif %}
{{ content }}
        </div>
