---
layout: web
---

      <div class="container">
        <div class="row section topspace">
          <div class="col-md-12">
            {% assign tokens = page.path | split: '/' %}
            {% assign tokens = tokens[1] | split: '-' %}
            {% assign id = tokens[0] %}
                <h2>#{{id}}: {{page.title}}</h2>
                <p><i>Category: {{page.category}} - Tags: {{page.tags | join: ", "}}</i></p>
              <hr/>
                <p>
                {% if page.video %}
                  <center>
                  <div class="card" style="max-width:560px;max-height:315px">
                    <div class="card-body" >
                      <div style="width:100%;height:0;padding-bottom:51%;position:relative">
                          <iframe style="width:100%;height:100%;max-height:315px;position:absolute;left:0;top:0" width="560" height="315" src="{{page.video}}" frameborder="0" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                  </center>
                  <p>
                  {% endif %}
{{ page.content }}
          </div>
        </div>
      </div>
